<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="Social_db" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\arProg\Desktop\Shortcut File\Shortcut\WebApplication6\WebApplication6\App_Data\Social.mdf;Integrated Security=True" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\arProg\Desktop\Shortcut File\Shortcut\WebApplication6\WebApplication6\App_Data\Social.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
	
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
	
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp.gmail.com" defaultCredentials="false"  port="465" userName="arman.aghdashy@Gmail.com" password="3720406784" />
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="Email" value="arman.aghdashy@Gmail.com"/>
	</appSettings>
</configuration>